*{
    margin: 0;
    padding: 0;
}


a{
    text-decoration: none;
}

.btn1{
    font-size: 2vh;
    position: absolute;
    margin-left: 4%;
    display: flex;
    color: rgba(228, 6, 6, 0);  
    background-color: #05080a00;
    border: 0px solid rgba(255, 0, 0, 0);
    margin-top: 20%;
}

.btn1:hover{
    color: red;
    border: 2px solid rgb(255, 65, 255);
    border-radius: 5px;
}

  .text {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 5rem;
    color: #fff;
    border: 3px solid #fff;
    padding: 2rem 4rem;
  }

  .gradient {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;

    /* Colors generated on: https://colorhunt.co/palette/179481 */
    background: linear-gradient(45deg, #084177, #687466, #cd8d7b, #fbc490);
    background-size: 300% 300%;
    animation: colors 15s ease infinite;
  }

  @keyframes colors {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  @media (max-width: 600px) {
    .text {
      font-size: 1.5rem;
      padding: 1rem 2rem;
    }
  }


